html {
  height: 100vh;
}
body {
  font-family: "Arial ", Gadget, sans-serif;
  color: #97AABD;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #272727;
  width: 60%;
}

.header {
  display: flex;
  width: 50%;
  height: 15%;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100vh;
}

.right {
  background-color: #61892F;
}

.left {
  background-color: #564F6F;
}

.its {
  margin-right : 5%;
}

.turn {
  margin-left: 5%;
}

.wins1 {
  padding-top: 20%;
  align-self: center;
}
.wins2 {
  padding-top: 20%;
  align-self: center;
}

.side {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.player1 {
  margin-top: 5vh;
  height: 7.5vh;
}

.player2 {
  margin-top: 5vh;
  height: 7.5vh;
}

.token1 {
  height: 150px;
}
.token2 {
  height: 150px;;
}

.p1h1 {
  background: url("https://i.imgur.com/ZhJleZK.png") no-repeat center center;
  background-size: 90% 90%;
}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  margin-top: 5%;
  height: 75%;
  width: 85%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  max-height: 25vh;
}

.token {
  max-width: 35%;
  max-height: 55%;
}

.board-token {
  max-height: 65%;
  max-width: 65%;
}
.one {
  border-right: 8px solid #E4C580;
  border-bottom: 8px solid #E4C580;
}
.two {
  border-right: 8px solid #E4C580;
  border-bottom: 8px solid #E4C580;
}
.three {
  border-bottom: 8px solid #E4C580;
}
.four {
  border-right: 8px solid #E4C580;
  border-bottom: 8px solid #E4C580;
}
.five {
  border-right: 8px solid #E4C580;
  border-bottom: 8px solid #E4C580;
}
.six {
  border-bottom: 8px solid #E4C580;
}
.seven {
  border-right: 8px solid #E4C580;
}
.eight {
  border-right: 8px solid #E4C580;
}
